.loading_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_panel_wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}