@import '../../../../common/styles/varible_styles.scss';
.table_wrapper {
    margin: 20px 0px 0px 0px;
    .table_head {
        background-color: $bgcolor;
        & th:nth-child(n) {
            color: rgb(138, 138, 138);
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.img_wrapper {
    width: 80px;
    margin: 2px;
    cursor: pointer;
    transition: all .5s;
    &:hover {
        box-shadow: 1px 5px 10px black;
        transition: all .5s;
    }
    &:active {
        box-shadow: 1px 2px 5px black;
        transition: all .1s;
    }
    img {
        width: 80px;
        height: 100%;
        object-fit: cover;
    }
}